<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>

        <div class="details content">

        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.snippet %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><path fill="currentColor" d="M9 3v1H4v2h1v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1V4h-5V3zm0 5h2v9H9zm4 0h2v9h-2z"/></svg>
        </a>

        <%- include('../partials/footer.ejs') %>

        <script>
            const deleteButton = document.querySelector('a.delete');
            deleteButton.addEventListener('click', (event) => {
                const endpoint = `/blogs/${deleteButton.dataset.doc}`;

                fetch(endpoint, {
                    method:'DELETE'
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch((err) => {console.log("Error : ", err)});
            });
        </script>
    </body>
</html>